@model IEnumerable<prjIHealth.Models.TProduct>

@section Styles{

}

@*banner大圖*@
<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    @*h2內容請自行更換*@
                    <h2>購物商城</h2>
                    <div class="breadcrumb__option">
                        @*<a href="./index.html">Home</a>
                            <span>Shop</span>*@
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <h4>商品類別</h4>
                        <ul>
                            <li><a href="/shopping/showshoppingmall">所有商品</a></li>
                            <li><a href="/shopping/showshoppingmall/1">乳清蛋白</a></li>
                            <li><a href="/shopping/showshoppingmall/2">健康食品</a></li>
                            <li><a href="/shopping/showshoppingmall/3">運動用品</a></li>
                            <li><a href="/shopping/showshoppingmall/4">男裝</a></li>
                            <li><a href="/shopping/showshoppingmall/5">女裝</a></li>
                        </ul>
                        <br />
                        <br />
                        <br />
                        <br />
                        <div class="sidebar__item">
                            <div class="latest-product__text">
                                <h4>推薦商品</h4>
                                <div class="latest-product__slider owl-carousel owl-loaded owl-drag">
                                    <div class="owl-stage-outer">
                                        <div class="owl-stage" style="transform: translate3d(-420px, 0px, 0px); transition: all 1.2s ease 0s; width: 1260px;">
                                            <div class="owl-item cloned" style="width: 210px;">
                                                <div class="latest-prdouct__slider__item">
                                                    <a href="ShowProductDetail" class="latest-product__item">
                                                        <div class="latest-product__item__pic">
                                                            <img src="/img/prjproduct/f1.jpg" alt="">
                                                        </div>
                                                        <div class="latest-product__item__text">
                                                            <h6>金牌巧克力乳清蛋白</h6>
                                                            <span>$1999</span>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="latest-product__item">
                                                        <div class="latest-product__item__pic">
                                                            <img src="/img/prjproduct/f2.jpg" alt="">
                                                        </div>
                                                        <div class="latest-product__item__text">
                                                            <h6>金牌草莓乳清蛋白</h6>
                                                            <span>$1999</span>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="latest-product__item">
                                                        <div class="latest-product__item__pic">
                                                            <img src="/img/prjproduct/f3.jpg" alt="">
                                                        </div>
                                                        <div class="latest-product__item__text">
                                                            <h6>無添加濃縮乳清蛋白</h6>
                                                            <span>$539</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div><div class="owl-item cloned" style="width: 210px;">
                                                <div class="latest-prdouct__slider__item">
                                                    <a href="#" class="latest-product__item">
                                                        <div class="latest-product__item__pic">
                                                            <img src="/img/prjproduct/f4.jpg" alt="">
                                                        </div>
                                                        <div class="latest-product__item__text">
                                                            <h6>果果堅果乳清蛋白</h6>
                                                            <span>$1380</span>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="latest-product__item">
                                                        <div class="latest-product__item__pic">
                                                            <img src="/img/prjproduct/f5.jpg" alt="">
                                                        </div>
                                                        <div class="latest-product__item__text">
                                                            <h6>無添加濃縮乳清蛋白</h6>
                                                            <span>$539</span>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="latest-product__item">
                                                        <div class="latest-product__item__pic">
                                                            <img src="/img/prjproduct/f6.jpg" alt="">
                                                        </div>
                                                        <div class="latest-product__item__text">
                                                            <h6>果果堅果乳清蛋白</h6>
                                                            <span>$1380</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div><div class="owl-item active" style="width: 210px;">
                                                <div class="latest-prdouct__slider__item">
                                                    <a href="#" class="latest-product__item">
                                                        <div class="latest-product__item__pic">
                                                            <img src="/img/prjproduct/f7.jpg" alt="">
                                                        </div>
                                                        <div class="latest-product__item__text">
                                                            <h6>金牌草莓乳清蛋白</h6>
                                                            <span>$1320</span>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="latest-product__item">
                                                        <div class="latest-product__item__pic">
                                                            <img src="/img/prjproduct/f8.jpg" alt="">
                                                        </div>
                                                        <div class="latest-product__item__text">
                                                            <h6>無添加濃縮乳清蛋白</h6>
                                                            <span>$1380</span>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="latest-product__item">
                                                        <div class="latest-product__item__pic">
                                                            <img src="/img/prjproduct/f1.jpg" alt="">
                                                        </div>
                                                        <div class="latest-product__item__text">
                                                            <h6>BSIN Syntha-6乳清蛋白</h6>
                                                            <span>$1899</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div><div class="owl-item" style="width: 210px;">
                                                <div class="latest-prdouct__slider__item">
                                                    <a href="#" class="latest-product__item">
                                                        <div class="latest-product__item__pic">
                                                            <img src="/img/prjproduct/f2.jpg" alt="">
                                                        </div>
                                                        <div class="latest-product__item__text">
                                                            <h6>【加拿大ALLMAX】奧美仕經典乳清蛋白</h6>
                                                            <span>$1380</span>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="latest-product__item">
                                                        <div class="latest-product__item__pic">
                                                            <img src="/img/prjproduct/f3.jpg" alt="">
                                                        </div>
                                                        <div class="latest-product__item__text">
                                                            <h6>多效乳清蛋白飲</h6>
                                                            <span>$1380</span>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="latest-product__item">
                                                        <div class="latest-product__item__pic">
                                                            <img src="/img/prjproduct/f4.jpg" alt="">
                                                        </div>
                                                        <div class="latest-product__item__text">
                                                            <h6>無添加濃縮乳清蛋白</h6>
                                                            <span>$539</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div><div class="owl-item cloned" style="width: 210px;">
                                                <div class="latest-prdouct__slider__item">
                                                    <a href="#" class="latest-product__item">
                                                        <div class="latest-product__item__pic">
                                                            <img src="/img/prjproduct/f5.jpg" alt="">
                                                        </div>
                                                        <div class="latest-product__item__text">
                                                            <h6>多效乳清蛋白飲</h6>
                                                            <span>$1380</span>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="latest-product__item">
                                                        <div class="latest-product__item__pic">
                                                            <img src="/img/prjproduct/f6.jpg" alt="">
                                                        </div>
                                                        <div class="latest-product__item__text">
                                                            <h6>金牌巧克力乳清蛋白</h6>
                                                            <span>$1999</span>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="latest-product__item">
                                                        <div class="latest-product__item__pic">
                                                            <img src="/img/prjproduct/f7.jpg" alt="">
                                                        </div>
                                                        <div class="latest-product__item__text">
                                                            <h6>無添加濃縮乳清蛋白</h6>
                                                            <span>$539</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div><div class="owl-item cloned" style="width: 210px;">
                                                <div class="latest-prdouct__slider__item">
                                                    <a href="#" class="latest-product__item">
                                                        <div class="latest-product__item__pic">
                                                            <img src="/img/prjproduct/f8.jpg" alt="">
                                                        </div>
                                                        <div class="latest-product__item__text">
                                                            <h6>多效乳清蛋白飲</h6>
                                                            <span>$1380</span>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="latest-product__item">
                                                        <div class="latest-product__item__pic">
                                                            <img src="/img/prjproduct/f1.jpg" alt="">
                                                        </div>
                                                        <div class="latest-product__item__text">
                                                            <h6>MUSCLETECH™ WHEY GOLD耐如鐵</h6>
                                                            <span>$1999</span>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="latest-product__item">
                                                        <div class="latest-product__item__pic">
                                                            <img src="/img/prjproduct/f2.jpg" alt="">
                                                        </div>
                                                        <div class="latest-product__item__text">
                                                            <h6>【加拿大ALLMAX】奧美仕經典乳清蛋白</h6>
                                                            <span>$1880</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span class="fa fa-angle-left"><span></span></span></button><button type="button" role="presentation" class="owl-next"><span class="fa fa-angle-right"><span></span></span></button></div><div class="owl-dots disabled"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="hero__search">
                    <button class="hero__search__form site-btn" style="width:20%">按價格排序</button>
                    <div class="hero__search__form " style="width:57.3%">
                        @using (Html.BeginForm())
                        {
                            @Html.TextBox("txtKeyword")
                            <button type="submit" class="site-btn">搜尋</button>
                        }
                    </div>
                </div>
                <div class="row">
                    @*@foreach (var item in Model)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div id="header" style="cursor:pointer;" onclick="location.href='/Shopping/ShowProductDetail';">
                                    <div class="product__item">
                                        <div class="product__item__pic set-bg" data-setbg="/img/prjproduct/@item.FCoverImage" style="background-image: url(&quot;/img/product/product-1.jpg&quot;);">
                                            <ul class="product__item__pic__hover">
                                                <li><a href="/Shopping/AddToTrack"><i class="fa fa-heart" data-id="@item.FProductId"></i></a></li>
                                                <li><a href="/Shopping/AddToTrack"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__item__text">
                                            <h6><a href="/Shopping/ShowProductDetail">@item.FProductName</a></h6>
                                            <h5>@item.FUnitprice.ToString("C0")</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }*@

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div id="header" style="cursor:pointer;" onclick="location.href='/Shopping/ShowProductDetail';">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="/img/prjproduct/f1.jpg" style="background-image: url(&quot;/img/product/product-1.jpg&quot;);">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="/Shopping/AddToTrack"><i class="fa fa-heart" data-id=""></i></a></li>
                                        <li><a href="/Shopping/AddToTrack"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="/Shopping/ShowProductDetail">金牌巧克力乳清蛋白</a></h6>
                                    <h5>$1999</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="/img/prjproduct/f2.jpg" style="background-image: url(&quot;/img/product/product-2.jpg&quot;);">
                                <a></a>
                                <ul class="product__item__pic__hover">
                                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6><a href="#">金牌草莓乳清蛋白</a></h6>
                                <h5>$1999</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="/img/prjproduct/f3.jpg" style="background-image: url(&quot;/img/product/product-3.jpg&quot;);">
                                <ul class="product__item__pic__hover">
                                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6><a href="#">無添加濃縮乳清蛋白</a></h6>
                                <h5>$539</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="/img/prjproduct/f4.jpg" style="background-image: url(&quot;/img/product/product-4.jpg&quot;);">
                                <ul class="product__item__pic__hover">
                                    <li><a href="#"><i class="fa fa-heart"></i></a></li>

                                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6><a href="#">多效乳清蛋白飲</a></h6>
                                <h5>$1380</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="/img/prjproduct/f5.jpg" style="background-image: url(&quot;/img/product/product-5.jpg&quot;);">
                                <ul class="product__item__pic__hover">
                                    <li><a href="#"><i class="fa fa-heart"></i></a></li>

                                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6><a href="#">MUSCLETECH™ WHEY GOLD耐如鐵</a></h6>
                                <h5>$1999</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="/img/prjproduct/f6.jpg" style="background-image: url(&quot;/img/product/product-6.jpg&quot;);">
                                <ul class="product__item__pic__hover">
                                    <li><a href="#"><i class="fa fa-heart"></i></a></li>

                                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6><a href="#">【加拿大ALLMAX】奧美仕經典乳清蛋白</a></h6>
                                <h5>$1880</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="/img/prjproduct/f7.jpg" style="background-image: url(&quot;/img/product/product-7.jpg&quot;);">
                                <ul class="product__item__pic__hover">
                                    <li><a href="#"><i class="fa fa-heart"></i></a></li>

                                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6><a href="#">果果堅果乳清蛋白</a></h6>
                                <h5>$360</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="/img/prjproduct/f8.jpg" style="background-image: url(&quot;/img/product/product-8.jpg&quot;);">
                                <ul class="product__item__pic__hover">
                                    <li><a href="#"><i class="fa fa-heart"></i></a></li>

                                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6><a href="#">BSIN Syntha-6乳清蛋白</a></h6>
                                <h5>$1899</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{

}

