@model prjIHealth.Models.TMember

@{
    ViewData["Title"] = "Edit";
}


@section Styles{

}

@*banner大圖*@
<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                                 <h2 class="reveal_t1">會員專區Demo</h2>
                    <div class="breadcrumb__option reveal_t1">
                        <a href="./index.html">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <h4>會員專區</h4>
                        <ul>
                            <li><a href="~/member/edit">個人資料</a></li>
                            <li><a href="#">訂單查詢</a></li>
                            <li><a href="#">飲食日誌</a></li>
                            <li><a href="#">客服記錄</a></li>
                        </ul>
                        <br />
                        <br />
                        <br />
                        <h4>預約平台</h4>
                        <ul>
                            <li><a href="#">履歷管理</a></li>
                            <li><a href="#">教練連繫記錄</a></li>
                            <li><a href="#">課程列表</a></li>
                            <li><a href="#">課程行事曆</a></li>
                            <li><a href="#">候選教練</a></li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7" style="height:400px">
    <div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FMemberId" />
            <div class="form-group row">
                 <label asp-for="FMemberName" class="control-label"></label>
               
                    <input asp-for="FMemberName" class="form-control" value="charles" />
                    <span asp-validation-for="FMemberName" class="text-danger"></span>
                
            </div>
            <div class="form-group row">
              
                    <label asp-for="FPassword" class="control-label"></label>
            
                    <input asp-for="FPassword" class="form-control" value="123" />
              
            </div>
            <div class="form-group row">
               
                    <label asp-for="FBirthday" class="control-label"></label>
              
                    <input asp-for="FBirthday" class="form-control" value="20200202" />
          
            </div>
            <div class="form-group row">
              
                    <label asp-for="FAddress" class="control-label"></label>
             
                    <input asp-for="FAddress" class="form-control" value="新北市新店區" />
                    <span asp-validation-for="FAddress" class="text-danger"></span>
             
            </div>
            <div class="form-group row">
                    <label asp-for="FPhone" class="control-label"></label>
            
                    <input asp-for="FPhone" class="form-control" value="0900000000" />
                    <span asp-validation-for="FPhone" class="text-danger"></span>
            </div>
            <div class="form-group row">
                    <label asp-for="FEmail" class="control-label"></label>
                    <input asp-for="FEmail" class="form-control" value="charles.chou570114@gmail.com" />
                    <span asp-validation-for="FEmail" class="text-danger"></span>
            </div>
     

            <div class="form-group">
                <input type="submit" value="送出" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
            </div>
        </div>
    </div>
</section>

@section Scripts{

}





