

@{
    ViewData["Title"] = "OrderdetailList";
}

@section Styles{

}


<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    @*h2內容請自行更換*@
                    <h2>訂單查詢</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <h4>會員專區</h4>
                        <ul>
                            <li><a href="#">個人資料</a></li>
                            <li><a href="#">訂單查詢</a></li>
                            <li><a href="#">飲食日誌</a></li>
                            <li><a href="#">客服記錄</a></li>
                        </ul>
                        <br />
                        <br />
                        <br />
                        <h4>預約平台</h4>
                        <ul>
                            <li><a href="#">履歷管理</a></li>
                            <li><a href="#">教練連繫記錄</a></li>
                            <li><a href="#">課程列表</a></li>
                            <li><a href="#">課程行事曆</a></li>
                            <li><a href="#">候選教練</a></li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7" style="height:400px">
                @*※※※會員專區View內容請從此開始※※※*@
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        商品名稱
                                    </th>
                                    <th>
                                        價錢
                                    </th>
                                    <th>
                                        數量
                                    </th>
                                    <th>
                                        折扣
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td @*class="shoping__cart__item"*@>
                                        蘋果<br />
                                    </td>
                                    <td>
                                        150<br />
                                    </td>
                                    <td>
                                        2 <br />
                                    </td>
                                    <td>
                                        <br />
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        橘子<br />
                                    </td>
                                    <td>
                                        50<br />
                                    </td>
                                    <td>
                                        5<br />
                                    </td>
                                    <td>
                                        0.8<br />
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                        <span> 交易金額：500 </span>

                    </div>
                    <a asp-action="OrderList" class="primary-btn cart-btn">返回訂單</a>
                </div>



            </div>
        </div>
    </div>
</section>

@section Scripts{

}

