
@section Styles{

    <style>
        #word_wrap {
            word-wrap: break-word;
            text-align: justify;
        }
    </style>

}

@*banner大圖*@
<section class="breadcrumb-section set-bg" data-setbg="/img/Coach/Banner.jpg" id="bannerTop">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    @*h2內容請自行更換*@
                    <h2 class="reveal_t1">追蹤商品清單</h2>
                    <div class="breadcrumb__option reveal_t1">
                        <a href="~/Shopping/ShowShoppingMall">Home</a>
                        <span>Shopping</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th class="shoping__product col-lg-4" style="margin-left:auto">產品名稱</th>
                                <th class="col-lg-4" style="margin-left: auto">介紹</th>
                                <th class="col-lg-2" style="margin-left: auto">售價</th>
                                <th class="col-lg-0"></th>
                            </tr>
                        </thead>
                        <tbody id="test">
                            @*<tr>
                                    <td class="shoping__cart__item">
                                        <img src="/img/prjproduct/f1.jpg" alt="" style="width:30%">
                                        <h5>Vegetable’s Package</h5>
                                    </td>

                                    <td class="shoping__cart__price">
                                        $55.00
                                    </td>
                                    <td class="shoping__cart__item__close col-lg-7">
                                        <span class="fa fa-shopping-bag"></span>
                                    </td>
                                    <td class="shoping__cart__item__close col-lg-5">
                                        <span class="icon_close"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="shoping__cart__item">
                                        <img src="/img/prjproduct/f2.jpg" alt="" style="width:30%">
                                        <h5>Fresh Garden Vegetable</h5>
                                    </td>
                                    <td class="shoping__cart__price">
                                        $39.00
                                    </td>
                                    <td class="shoping__cart__item__close col-lg-7">
                                        <span class="fa fa-shopping-bag"></span>
                                    </td>
                                    <td class="shoping__cart__item__close col-lg-5">
                                        <span class="icon_close"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="shoping__cart__item">
                                        <img src="/img/prjproduct/f5.jpg" alt="" style="width:30%">
                                        <h5>Organic Bananas</h5>
                                    </td>
                                    <td class="shoping__cart__price">
                                        $69.00
                                    </td>
                                    <td class="shoping__cart__item__close col-lg-7">
                                        <span class="fa fa-shopping-bag"></span>
                                    </td>
                                    <td class="shoping__cart__item__close col-lg-5">
                                        <span class="icon_close"></span>
                                    </td>
                                </tr>*@
                        </tbody>
                    </table>
                    </div>
                </div>

            </div>
        </div>
</section>
@section Scripts{
    <script>
        let data = [{ product_id: 1, product_name: "金牌巧克力乳清蛋白", product_de: "蟬聯十年最好喝乳清蛋白，網友一致極推" }, { product_id: 2, product_name: "MUSCLETECH™ WHEY GOLD耐如鐵",product_de:"美國先進製程技術，保留完整胺基酸，淡淡奶香，即溶型好沖泡，口感滑順"}];
        let a = "";
        for (let i = 0; i < data.length; i++) {
            a += `<tr data-id="${data[i].product_id}" class="product_item">
                        <td class="shoping__cart__item" style="col-lg-4" >
                            <img src="/img/prjproduct/f${i + 1}.jpg" alt="" style="width:40%"><br><br><h5>${data[i].product_name}</h5>
                        <td class="shoping__cart__price col-lg-4" id="word_wrap" style="margin:auto">
                            <div style="width:400px">${data[i].product_de}</div>
                        </td>
                        <td style="col-lg-2">
                            $55.00
                        </td>
                        <td class="shoping__cart__item__close" style="margin-left: auto">
                            <span class="fa fa-shopping-bag"></span>
                        </td>
                        <td class="shoping__cart__item__close" style="margin-left: auto">
                            <span class="icon_close" style="margin-left: auto"></span>
                        </td>
                   </tr>`
        }
        let text = document.getElementById("test");
        text.innerHTML = a;
        $("#test").delegate(".product_item", "click", function () {
            let a = $(this).attr("data-id");
            let _this = $(this);
            $(this).find(".icon_close").on("click", function () {
                _this.remove();
                let el = document.querySelector(`tr[data-id=${a}]`);
                console.log(el);
            })
            //var el = document.querySelector("tr[data-id='1']");
            //console.log(this);
        })
    </script>
}
