
@{
    ViewData["Title"] = "orderdetail";
    Layout = "~/Areas/Admin/Admin_Layout.cshtml";
}

@section Styles{
    <style>
        #title {
            font-weight: 800;
            color: #599e32;
            margin-left: 20vw;
            margin-right: 20vw;
        }
    </style>
}
<h2 id="title">訂單明細</h2>
<hr />


<section class="product spad">
    <div class="container">
        <div class="row">
            @*※※※會員專區View內容請從此開始※※※*@
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    商品名稱
                                </th>
                                <th>
                                    價錢
                                </th>
                                <th>
                                    數量
                                </th>
                                <th>
                                    折扣
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td @*class="shoping__cart__item"*@>
                                    蘋果<br />
                                </td>
                                <td>
                                    150<br />
                                </td>
                                <td>
                                    2 <br />
                                </td>
                                <td>
                                    <br />
                                </td>
                                <td>
                                    <a asp-action="Orderdetailedit" class="primary-btn cart-btn">修改</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    橘子<br />
                                </td>
                                <td>
                                    50<br />
                                </td>
                                <td>
                                    5<br />
                                </td>
                                <td>
                                    0.8<br />
                                </td>
                                <td>
                                    <a asp-action="Orderdetailedit" class="primary-btn cart-btn">修改</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                    <div class="form-group col-md-2">
                        <span> 交易金額：500 </span>
                    </div>


                </div>
                <a asp-action="Order" class="primary-btn cart-btn">返回訂單</a>
            </div>



        </div>
    </div>

</section>

@section Scripts{

}


