
@{
    ViewData["Title"] = "orderedit";
    Layout = "~/Areas/Admin/Admin_Layout.cshtml";
}
@section Styles{

}
<h1>訂單修改</h1>
<hr />
<section class="product spad">
    <div class="container">
        <div class="row">
            @*※※※非會員專區的View的內容請從此處開始※※※*@


            <div style="margin:auto;">
                <form asp-action="Create" style="margin-left:15%">
                    <div class="form-group col-md-8">
                        <div class="row">
                            <div class="col-md-4"><label for="InputName" style="font-size:30px">收件人</label>  </div>
                            <div class="col-md-8"> <input type="text" class="form-control" id="InputName" name="name" style="text-align:center"> </div>
                        </div>
                    </div>

                    <div class="form-group col-md-8">
                        <div class="row">
                            <div class="col-md-4">   <label for="InputEmail" style="font-size:30px">電話</label> </div>
                            <div class="col-md-8">  <input type="text" class="form-control" id="InputEmail" name="email" style="text-align:center"></div>
                        </div>
                    </div>

                    <div class="form-group col-md-8">
                        <div class="row">
                            <div class="col-md-4"> <label for="InputAge" style="font-size:30px">日期</label> </div>
                            <div class="col-md-8">  <input type="text" class="form-control" id="InputAge" name="age" style="text-align:center"> </div>
                        </div>
                    </div>

                    <div class="form-group col-md-8">
                        <div class="row">
                            <div class="col-md-4">   <label for="Inputdes" style="font-size:30px">地址</label> </div>
                            <div class="col-md-8"><textarea class="form-control" id="Inputdes" name="age" style="text-align:center"></textarea> </div>
                        </div>
                    </div>

                    <div class="form-group col-md-8">
                        <div class="row">
                            <div class="col-md-4">   <label for="Inputpay" style="font-size:30px">付款方式</label><br />  </div>
                            <div class="col-md-8">
                                <select class="form-control" id="Inputpay" name="pay" style="text-align:center">
                                    <option>現金</option>
                                    <option>刷卡</option>
                                </select><br /><br />
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-8">
                        <div class="row">
                            <div class="col-md-4"> <label for="Inputn" style="font-size:30px">狀態</label><br />  </div>
                            <div class="col-md-8">
                                <select class="form-control" id="Inputn" name="en" style="text-align:center">
                                    <option>運送中</option>
                                    <option>已完成</option>
                                </select><br /><br />
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-8">
                        <div class="row">
                            <div class="col-md-4">  <label for="InputAge" style="font-size:30px">備註</label> </div>
                            <div class="col-md-8">  <textarea class="form-control" id="Inputdes" name="age" style="text-align:center"></textarea> </div>
                        </div>
                    </div>

                    <div class="form-group col-md-11">
                       
                        <a asp-action="order" class="site-btn">確定修改</a>
                        <a asp-action="order" class="site-btn">返回清單</a>
                    </div>


                </form>
            </div>
        </div>


    </div>

</section>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
