

@section Styles{
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    .ulCategory li {
        padding-right: 80px;
    }

        .ulCategory li a {
            color: #585A55 !important;
            transition: .2s;
        }

            .ulCategory li a:hover {
                background-color: #ECF1E4;
                color: black !important;
            }
    .imgMain {
        border-radius: 10px;
    }   	
	.name {
		margin-bottom: 15px;
	}
	.intro {
		margin-top: 25px;
		text-align:justify;
	}
	.page {
		text-align: right;
	}
	.ulBtns {
		display: flex;
        justify-content:space-evenly;
		margin-top:20px;
        padding:0px 40px;
		list-style: none;
	}
        .ulBtns > li {
            width: 40%;
            text-align: center;
            margin: 20px;
            border: 2px solid #7fad39;
            border-radius: 10px;
            transition: .3s;
        }
            .ulBtns > li:hover {
                border: 2px solid #4F6C24;
            }
            .ulBtns > li > a {
                display: block;
                width: 100%;
                height: 100%;
                padding: 15px;
                color: #7fad39;
                transition: .3s;
            }
                .ulBtns > li > a:hover {
                    color: #4F6C24;
                }
                .info_details, .rate {
                    width: 100%;
                    padding: 0px 30px;
                }    
	.topic {
		padding: 20px 0px;
	}
	.info_details_list{
		list-style-position:inside;
		list-style:none;
	}
	.info_details_list>li{
		margin:10px 0px;
	}
	.info_details_list>hr{
		padding-top:30px;
	}
    .nav-tabs::before, .nav-tabs::after {
        content: none !important;
    }    
    .bar {	
		display:inline-block;
		width:220px;
		height:2px;
		background-color:lightgray;
		line-height:26px;
    }
	.tabs{
		width:100%;
	}
    .tab_content,.recommend{
		padding:0px 30px;
    }
	.rate{
		margin-bottom:10px;
		padding:0px;
	}
	.star{
		height:22px;
	}
    .recommend {
        padding-top: 50px;
        padding-left:10px;
    }
    .coach_intro {
        display: flex;
        border-radius: 10px;
        padding: 20px;
    }

    .coach_img {
        border-radius: 10px;
        border: 3px solid white;
        width: 180px;
        height: 200px;
        transition: .3s;
    }

        .coach_img:hover {            
            border: 3px solid gray;
        }    

    .icon {
        height: 20px;
    }

    .li {
        margin: 5px 0px;
    }
    .slogan {
        margin-top: 18px;
    }   
    .recommend_topic > h4 {
        margin: 20px 0px;
    }
    .recommend_bar {
        width: 350px;
        height: 2px;
        margin-left: 50px;
        margin-bottom: 30px;
        background-color: #7fad39;
    }
    .recommend_coach {
        margin-left: 30px;
        margin-bottom: 30px;
        border-radius: 10px;
        padding: 20px;
        border: 2px solid lightgray;
        box-shadow: 2px 2px 5px lightgray;
    }
    .divRecCoach {
        padding: 30px;
    }   
</style>
}
@*banner大圖*@
<section class="breadcrumb-section set-bg" data-setbg="/img/Coach/Banner.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    @*h2內容請自行更換*@
                    <h2>私人教練專區</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">Home</a>
                        <span>Training</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="product spad">
	<div class="container">
		<div class="row">
			@*※※※非會員專區的View的內容請從此處開始※※※*@
			<div class="col-lg-3">
				<div class="sidebar">
					<div class="sidebar__item reveal_l1">
						<h4>運動類別</h4>
                        <ul class="ulCategory">
                            <li><a href="#">肌肥大訓練</a></li>
                            <li><a href="#">增肌減脂</a></li>
                            <li><a href="#">體態評估雕塑</a></li>
                            <li><a href="#">功能性訓練</a></li>
                            <li><a href="#">TRX課程訓練</a></li>
                            <li><a href="#">壺鈴課程訓練</a></li>
                            <li><a href="#">拳擊訓練</a></li>
                            <li><a href="#">備賽指導</a></li>
                            <li><a href="#">銀髮族訓練</a></li>
                        </ul>
					</div>
				</div>
			</div>
			<div class="col-lg-9">
                <div class="row">
                    <div class="col-md-5 reveal_t1">
                        <img src="~/img/Coach/coachImage/May.jpg" class="imgMain" />
                    </div>
                    <div class="col-md-7 divMainCoach reveal_r1">
                        <ul>
                            <li style="list-style:none" class="name"><h3><b>May</b></h3></li>
                            <li style="list-style:none" class="li">
                                <img src="~/img/Coach/icon/location.png" class="icon" /><b>&nbsp;&nbsp;&nbsp;授課地區： </b><span>台北市</span>
                            </li>
                            <li style="list-style:none" class="li">
                                <img src="~/img/Coach/icon/skill.png" class="icon" /><b>&nbsp;&nbsp;&nbsp;專長項目： </b><span>肌肥大訓練、體態評估雕塑、增肌減脂</span>
                            </li>
                            <li style="list-style:none" class="li">
                                <img src="~/img/Coach/icon/time.png" class="icon" /><b>&nbsp;&nbsp;&nbsp;可上課時段： </b><span>平日上午、平日下午、假日下午</span>
                            </li>
                            <li style="list-style:none" class="li">
                                <img src="~/img/Coach/icon/fee.png" class="icon" /><b>&nbsp;&nbsp;&nbsp;希望待遇： </b><span>1500/時</span>
                            </li>
                            <li style="list-style:none" class="intro">
                                <h7>
                                    你為了什麼而開始選擇運動？
                                    改變體態的決心絕非嘴上說說，付出的努力與汗水終將給予你回饋，而鏡子裡的你即是過去的決定。
                                    用最專業的教學和生物力學訓練幫助學員達到目標設定，而非似是而非五花八門的網路訓練，幫助你達成目標，找回自信體態！
                                </h7>
                            </li>
                        </ul>
                        <ul class="ServiceProfile__buttonList___27UCn ulBtns">
                            <li>
                                <a href="/Coach/AddToFavorites">
                                    <i class="fa-solid fa-heart"></i>
                                    <b>&nbsp;&nbsp;加入候選</b>
                                </a>
                            </li>
                            <li>
                                <a href="/Coach/ContactCoach">
                                    <i class="fa-solid fa-comment"></i>
                                    <b>&nbsp;&nbsp;我有興趣</b>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
					<div class="product__details__tab tabs">
                        <ul class="nav nav-tabs tablist" role="tablist">
                            <li ><div class="bar"></div></li>
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab" aria-selected="false">經歷及相關證照</a>
                            </li>                           
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab" aria-selected="true">會員評價 <span>(2)</span></a>
                            </li>
                            <li><div class="bar"></div></li>
                        </ul>
						<div class="tab-content">
							<div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="product__details__tab__desc tab_content reveal_b1">
                                    <div><h4 class="topic">經歷</h4></div>
                                    <ul class="info_details_list ">
                                        <li><img src="~/img/Coach/icon/experience.png" class="icon" />&nbsp&nbspPeople Fitness 全民運動健身中心 兼職教練</li>
                                        <li><img src="~/img/Coach/icon/experience.png" class="icon" />&nbsp&nbspDynasty 皇家官邸聯誼會 私人教練</li>
                                        <li><img src="~/img/Coach/icon/experience.png" class="icon" />&nbsp&nbspBeyond Gym 超越健身中心 私人教練</li>
                                        <li><img src="~/img/Coach/icon/experience.png" class="icon" />&nbsp&nbsp2018 Global Classic Mprogram </li>
                                        <li><img src="~/img/Coach/icon/experience.png" class="icon" />&nbsp&nbspwomen's bikini junior 165+季軍</li>
                                        <li><img src="~/img/Coach/icon/experience.png" class="icon" />&nbsp&nbsp2018 全國青年盃健美錦標賽女子比基尼163+ 第四名</li>
                                        <li><img src="~/img/Coach/icon/experience.png" class="icon" />&nbsp&nbsp2019 Global Classic Mprogram </li>
                                        <li><img src="~/img/Coach/icon/experience.png" class="icon" />&nbsp&nbspwomen's bikini junior 第八名</li>
                                    </ul>
                                    <div><h4 class="topic">相關證照</h4></div>
                                    <ul class="info_details_list">
                                        <li><img src="~/img/Coach/icon/license.png" class="icon" />&nbsp&nbspNASM-CPT美國運動醫學私人教練認證</li>
                                        <li><img src="~/img/Coach/icon/license.png" class="icon" />&nbsp&nbsp中華民國健身協會體適能健身C級證照</li>
                                        <li><img src="~/img/Coach/icon/license.png" class="icon" />&nbsp&nbspIPTA壺鈴培訓Level1-2</li>
                                        <li><img src="~/img/Coach/icon/license.png" class="icon" />&nbsp&nbspIPTA徒手核心訓練課程</li>
                                        <li><img src="~/img/Coach/icon/license.png" class="icon" />&nbsp&nbspCTSSN運動營養專業認證</li>
                                        <li><img src="~/img/Coach/icon/license.png" class="icon" />&nbsp&nbspAED+CPR</li>
                                    </ul>
                                </div>
							</div>
							<div class="tab-pane" id="tabs-2" role="tabpanel">
                                <div class="product__details__tab__desc tab_content">
                                    <div class="feedback-item">
                                        <p>林家丞</p>
                                        <div class="RatingStar__rating___2FJnc rate">
                                            <img src="~/img/Coach/icon/star.png" class="star" />
                                            <img src="~/img/Coach/icon/star.png" class="star" />
                                            <img src="~/img/Coach/icon/star.png" class="star" />
                                            <img src="~/img/Coach/icon/star.png" class="star" />
                                            <img src="~/img/Coach/icon/star.png" class="star" />
                                        </div>
                                        <div><p>教練非常細心，會依照你的體能狀況來編排適合的訓練</p></div>
                                        <p class="created">2022年7月1日</p><hr>
                                    </div>
                                    <div class="feedback-item">
                                        <p>劉雨涵</p>
                                        <div class="RatingStar__rating___2FJnc rate">
                                            <img src="~/img/Coach/icon/star.png" class="star" />
                                            <img src="~/img/Coach/icon/star.png" class="star" />
                                            <img src="~/img/Coach/icon/star.png" class="star" />
                                            <img src="~/img/Coach/icon/star.png" class="star" />
                                            <img src="~/img/Coach/icon/star.png" class="star" />
                                        </div>
                                        <div><p>Very good!</p></div>
                                        <p class="created">2022年5月17日</p><hr>
                                    </div>
                                </div>                                   
                            </div>
						</div>							
					</div>
					
                <div>
                    <div class="recommend">
                        @*推薦教練*@
                        <div class="recommend_topic">
                            <h4>在<b>&nbsp;台北市&nbsp;</b>，擁有相同專長的教練...</h4>
                        </div>
                        <div class="recommend_bar"></div>
                        <div class="row recommend_coach reveal_b1">
                            <div class="col-3">
                                <a href="/Student/ViewCoachDetails"><img src="~/img/Coach/coachImage/Zac.jpg" class="coach_img"></a>
                            </div>
                            <div class="col-9 divRecCoach">
                                <ul>
                                    <li style="list-style:none" class="name"><h3><b>Zac</b></h3></li>
                                    <li style="list-style:none" class="li">
                                        <img src="~/img/Coach/icon/location.png" class="icon" /><b>&nbsp;&nbsp;&nbsp;授課地區： </b><span>台北市</span>
                                    </li>
                                    <li style="list-style:none" class="li">
                                        <img src="~/img/Coach/icon/skill.png" class="icon" /><b>&nbsp;&nbsp;&nbsp;專長項目： </b><span>肌肥大訓練、備賽指導</span>
                                    </li>
                                    <li style="list-style:none" class="slogan"><h5><b>夏天來臨前，跟著Zac一起打造完美body！</b></h5></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row recommend_coach reveal_b1">
                            <div class="col-3">
                                <a href="/Student/ViewCoachDetails"><img src="~/img/Coach/coachImage/Alisa.jpg" class="coach_img"></a>
                            </div>
                            <div class="col-9 divRecCoach">
                                <ul>
                                    <li style="list-style:none" class="name"><h3><b>Alisa</b></h3></li>
                                    <li style="list-style:none" class="li">
                                        <img src="~/img/Coach/icon/location.png" class="icon" /><b>&nbsp;&nbsp;&nbsp;授課地區： </b><span>台北市</span>
                                    </li>
                                    <li style="list-style:none" class="li">
                                        <img src="~/img/Coach/icon/skill.png" class="icon" /><b>&nbsp;&nbsp;&nbsp;專長項目： </b><span>增肌減脂、功能性訓練備賽指導</span>
                                    </li>
                                    <li style="list-style:none" class="slogan"><h5><b>Enjoy workout with Alisa！</b></h5></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row recommend_coach reveal_b1">
                            <div class="col-3">
                                <a href="/Student/ViewCoachDetails"><img src="~/img/Coach/coachImage/Jessica.jpg" class="coach_img"></a>
                            </div>
                            <div class="col-9 divRecCoach">
                                <ul>
                                    <li style="list-style:none" class="name"><h3><b>Jessica</b></h3></li>
                                    <li style="list-style:none" class="li">
                                        <img src="~/img/Coach/icon/location.png" class="icon" /><b>&nbsp;&nbsp;&nbsp;授課地區： </b><span>台北市</span>
                                    </li>
                                    <li style="list-style:none" class="li">
                                        <img src="~/img/Coach/icon/skill.png" class="icon" /><b>&nbsp;&nbsp;&nbsp;專長項目： </b><span>增肌減脂、體態評估與雕塑</span>
                                    </li>
                                    <li style="list-style:none" class="slogan"><h5><b>由Jessica帶領你從零開始，從我們跨出了那一步開始就不是零了！</b></h5></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>				
			</div>
		</div>
	</div>
</section>

@section Scripts{

}