@model prjIHealth.Models.TMember

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Admin_Layout.cshtml";
}

<h2>會員資料編輯</h2>

@*<h4>TMember</h4>*@
<hr />
<div class="row justify-content-center ">
    <div class="col-md-4 border border-primary mt-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FMemberId" />
            <div class="form-group">
            </div>
            <div class="form-group row justify-content-center">
                <div class="col-md-3">
                    <label asp-for="FMemberName" class="control-label"></label>
                </div>
                <div class="col-md-7">
                    <input asp-for="FMemberName" class="form-control" />
                </div>
                <span asp-validation-for="FMemberName" class="text-danger"></span>
            </div>
            <div class="form-group row justify-content-center">
                <div class="col-md-3">
                    <label asp-for="FPassword" class="control-label"></label>
                </div>
                <div class="col-md-7">
                    <input asp-for="FPassword" class="form-control" />
                </div>
                <span asp-validation-for="FPassword" class="text-danger"></span>
            </div>
            <div class="form-group row justify-content-center">
                <div class="col-md-3">
                    <label asp-for="FBirthday" class="control-label"></label>
                </div>
                <div class="col-md-7">
                    <input asp-for="FBirthday" class="form-control" />
                </div>
                <span asp-validation-for="FBirthday" class="text-danger"></span>
            </div>
            <div class="form-group row justify-content-center">
                <div class="col-md-3">
                    <label asp-for="FGender" class="control-label"></label>
                </div>
                <div class="col-md-7">
                    <input asp-for="FGender" class="form-control" />
                </div>
                <span asp-validation-for="FGender" class="text-danger"></span>
            </div>
            <div class="form-group row justify-content-center">
                <div class="col-md-3">
                    <label asp-for="FPicturePath" class="control-label"></label>
                </div>
                <div class="col-md-7">
                    <input asp-for="FPicturePath" class="form-control" />
                </div>
                <span asp-validation-for="FPicturePath" class="text-danger"></span>
            </div>
            <div class="form-group row justify-content-center">
                <div class="col-md-3">
                    <label asp-for="FUserName" class="control-label"></label>
                </div>
                <div class="col-md-7">
                    <input asp-for="FUserName" class="form-control" />
                </div>
                <span asp-validation-for="FUserName" class="text-danger"></span>
            </div>
            <div class="form-group row justify-content-center">
                <div class="col-md-3">
                    <label asp-for="FAddress" class="control-label"></label>
                </div>
                <div class="col-md-7">
                    <input asp-for="FAddress" class="form-control" />
                </div>
                <span asp-validation-for="FAddress" class="text-danger"></span>
            </div>
            <div class="form-group row justify-content-center">
                <div class="col-md-3">
                    <label asp-for="FPhone" class="control-label"></label>
                </div>
                <div class="col-md-7">
                    <input asp-for="FPhone" class="form-control" />
                </div>
                <span asp-validation-for="FPhone" class="text-danger"></span>
            </div>
            <div class="form-group row justify-content-center">
                <div class="col-md-3">
                    <label asp-for="FEmail" class="control-label"></label>
                </div>
                    <div class="col-md-7">
                        <input asp-for="FEmail" class="form-control" />
                    </div>
                    <span asp-validation-for="FEmail" class="text-danger"></span>
            </div>
            <div class="form-group row justify-content-center">
                <div class="col-md-3">
                    <label asp-for="FRegisterDate" class="control-label"></label>
                </div>
                    <div class="col-md-7">
                        <input asp-for="FRegisterDate" class="form-control" />
                    </div>
                    <span asp-validation-for="FRegisterDate" class="text-danger"></span>
               
            </div>
            <div class="form-group row justify-content-center">
                <div class="col-md-3">
                    <label asp-for="FAuthorityId" class="control-label"></label>
                </div>
                    <div class="col-md-7">
                        <select asp-for="FAuthorityId" class="form-control" asp-items="ViewBag.FAuthorityId"></select>
                    </div>
                    <span asp-validation-for="FAuthorityId" class="text-danger"></span>
            
            </div>
            <div class="form-group row justify-content-center">
                <div class="col-md-3">
                    <label asp-for="FDisabled" class="control-label"></label>
                </div>
                    <div class="col-md-7">
                        <input asp-for="FDisabled" class="form-control" />
                    </div>
                    <span asp-validation-for="FDisabled" class="text-danger"></span>
               
            </div>
            <div class="form-group row justify-content-center">
                <div class="col-md-3">
                    <label asp-for="FRemarks" class="control-label"></label>
                </div>
                    <div class="col-md-7">
                        <input asp-for="FRemarks" class="form-control" />
                    </div>
                    <span asp-validation-for="FRemarks" class="text-danger"></span>
                
            </div>
            <div class="form-group row justify-content-center">
                <div class="col-md-3">
                    <input type="submit" value="存檔" class="btn btn-primary" />
                </div>
                    <div class="col-md-7">
                        <a asp-action="Index" class="btn btn-success">回會員資料管理列表</a>
                    </div>
               
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
